*.class
 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
target
 
# ignore eclipse files
.project
.classpath
.settings
.metadata
hamster-sprite-web-front/src/main/js/sprite/app.sublime-project
hamster-sprite-web-front/src/main/js/sprite/app.sublime-workspace
