<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Error page</title>
</head>
<body>
  <section layout:fragment="mainContent">
    <h2>Oops, we got a problem here.</h2>

  </section>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<title>React App</title>
<link href="/static/css/main.65027555.css" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript">window.CONFIG = {
      env : "UNKNOWN",
      user : {
        username : "grossopa",
        roles : [ "admin" ]
      }
    }
  </script>
  <script type="text/javascript" src="/static/js/main.cdbcf082.js"></script>
</body>
</html>