.application-details {
  border: 1px solid #777;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #efefef;
  top : 200px;
}

.appdetailsani-appear {
  opacity: 0.01;
}

.appdetailsani-appear.appdetailsani-active {
  opacity: 1;

}
