
<!DOCTYPE html>
<html layout:decorator="/base/layout" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>User Login Home</title>
</head>
<body>
  <section layout:fragment="mainContent">
    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/ws/user/login}" method="post">
      <div>
        <label>User Name : <input type="text" name="u" />
        </label>
      </div>
      <div>
        <label>Password: <input type="password" name="p" />
        </label>
      </div>
      <div>
        <label>Remember Me: <input type="checkbox" name="remember-me" /></label>
      </div>
      <div>
        <input type="submit" value="Sign In" />
      </div>
    </form>
  </section>
</body>
</html>
